<html ng-app="clockApp">
    <head>
        <title>Clock</title>
    </head>
    <body>
        <div ng-controller="myClockCtrl">
            <p>This is a Clock App</p>
            Enter your Name : <input type="text" ng-model="userName"/>
            <p>The Current Time is: {{timeString}}</p>
            <button ng-click="updateTime()">Update Time</button>

            <p>Your Name is : {{userName}}</p>
        </div>
        <script src="angular.js"></script>
        <script src="clockapp.js"></script>
    </body>
</html>